* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: none; /* Hide the default cursor */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: rgb(255, 255, 255);
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

h1 {
  font-size: 24px;
  position: relative;
  color: rgb(255, 255, 255);
  z-index: 1;
}
